@use 'base/_mixins' as m;
@use 'base/_variables' as v;

.acciones{
    margin-top: 5rem;

    @include m.tablet{
        display: flex;
        justify-content: space-between;

    }

    a{
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: v.$azul-ministerio;
        &:last-of-type{
            margin-bottom: 0;
        }

    }
}