@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    padding: 1rem;
    .campo{
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 2rem;
        align-items: center;
        label{
          
            display: flex;
            text-transform: uppercase;
            color: v.$azul-ministerio;
        }
        input{
            flex: 1;
            padding: 1rem;
            border: none;
            background-color: lighten(v.$gris, 40%);
            
        }
    }
}